################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/client/bin
/client/obj
/server/bin
/server/obj
/server/Properties
/server/WeatherForecast.csproj.user
